[Unit]
Description=Minecraft Status Site
After=remote-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
User=minecraft
Group=minecraft
Type=simple
ExecStart=/home/minecraft/minecraft-site
WorkingDirectory=/home/minecraft
TimeoutStopSec=20
KillMode=process
Restart=on-failure
# See https://www.freedesktop.org/software/systemd/man/systemd.exec.html
DevicePolicy=closed
NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap
ReadWritePaths=/home/minecraft
PrivateDevices=yes
ProtectSystem=strict
